<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout::head">
</head>
<meta charset="UTF-8"/>
<link href="../static/css/table.css" th:href="@{/css/table.css}" rel="stylesheet"/>
<nav th:replace="layout::header"></nav>
<body>
<h2>Spring MVC + jQuery + Autocomplete example</h2>

<div>
    <input type="text" id="w-input-search" value="">
    <span>
	  <button id="button-id" type="button">Search</button>
	</span>
</div>


</body>
</html>